<!DOCTYPE html>
<html>
<head>

</head>
<body>
{% set componentID = componentID|default('common-wrapper') -%}
{% set componentJSClassName = componentJSClassName|default('CommonContentWrapper') -%}
{% set componentHtmlName = componentHtmlName|default('common-content-wrapper') -%}
{% set mixins = mixins|default('') -%}

{% block scrypts %}{% endblock %}

<template id="{{ componentID }}">
    {% block styles %}{% endblock %}
    <div class="user-home">
        {% block body %}{% endblock %}
    </div>
    <content></content>
</template>
<script src="/static/js/baseTemplate.js"></script>

{% block templateComponentDefinotion %}
    <script>

        class {{componentJSClassName}} extends aggregation(BaseComponentElement, {{ mixins }}) {
            constructor() {
                super('#{{componentID}}');
            }
        }
    </script>
{% endblock %}
<script>
    window.customElements.define('{{componentHtmlName}}', {{componentJSClassName}});
</script>
</body>
</html>
