{% extends 'baseTemplate.html' %}

{% set componentID = 'common-wrapper' -%}
{% set componentJSClassName = 'CommonContentWrapper' -%}
{% set componentHtmlName = 'common-content-wrapper' -%}
{% set mixins = 'LoginStatusMixin' -%}

{% block scrypts %}
    <script src="/static/js/mainWrapper.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
{% endblock %}

{% block body %}
    <div class="header-wrapper">
        <div class="header">
            <h1 class="title">{{ greetings }}</h1>
            <auth-button/>
        </div>
    </div>
{% endblock %}
